<section class="advantages">
    <div class="advantages__item">
        <div class="icon-wrap"><img src="/img/icon-1.png" alt="icon"></div>
        <p class="advantages__item-text">Простые домашние рецепты</p>
    </div>
    <div class="advantages__item">
        <div class="icon-wrap"><img src="/img/icon-2.png" alt="icon"></div>
        <p class="advantages__item-text">Статьи о готовке</p>
    </div>
    <div class="advantages__item">
        <div class="icon-wrap"><img src="/img/icon-3.png" alt="icon"></div>
        <p class="advantages__item-text">Бесплатная книга рецептов всем подписчикам</p>
    </div>
    <div class="advantages__item">
        <div class="icon-wrap"><img src="/img/icon-4.png" alt="icon"></div>
        <p class="advantages__item-text">Собирайте рецепты в recipe box</p>
    </div>
    <div class="advantages__item">
        <div class="icon-wrap"><img src="/img/icon-5.png" alt="icon"></div>
        <p class="advantages__item-text">Печать рецептов</p>
    </div>
</section>