<section class="feedback">
    <div class="feedback__item">
        <div class="feedback__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </div>
        <div class="feedback__info">
            <div class="feedback__imgbox"><img src="/img/ex-2.png" class="feedback__img" alt="photo"></div>
            <div class="feedback__namebox">
                <div class="name">Dany</div>
                <div class="age">50</div>
            </div>
        </div>
    </div>
    <div class="feedback__item">
        <div class="feedback__text"> Accusantium, alias autem commodi distinctio dolore dolorem exercitationem fugiat in ipsum,</div>
        <div class="feedback__info">
            <div class="feedback__imgbox"><img src="/img/ex-3.png" class="feedback__img" alt="photo"></div>
            <div class="feedback__namebox">
                <div class="name">Max</div>
                <div class="age">40</div>
            </div>
        </div>
    </div>
    <div class="feedback__item">
        <div class="feedback__text"> laboriosam magnam mollitia numquam odit praesentium quam rem sint temporibus voluptates?</div>
        <div class="feedback__info">
            <div class="feedback__imgbox"><img src="/img/ex.png" class="feedback__img" alt="photo"></div>
            <div class="feedback__namebox">
                <div class="name">Elen</div>
                <div class="age">25</div>
            </div>
        </div>
    </div>
</section>