<footer>
    <section class="footer-item">
        <a href="index.html" class="logo-box">
            <img src="/img/logo_white.svg" alt="logo Webim">
        </a>
        <div class="caption">Webim 2008-2017</div>
        <div class="caption">Все права защищены</div>
    </section>
    <section class="footer-item">
        <div class="single-phone">
            <svg width="30" height="30">-->
                <use xlink:href="/img/sprite.svg#phone"></use>
            </svg>
            +7 (397) 236 77 99
        </div>
        <div class="phone-local">+7 (397) 236 77 99</div>
        <div class="caption">Москва, Пряничный переулок, 7</div>
        <div class="phone-local">+7 (397) 236 77 99</div>
        <div class="caption">Санкт-Петербург, Серебряниковский проспект, 35</div>

    </section>
    <section class="footer-item">
        <div class="email">
            <span>bigCity@gmail.com</span>
            <span>littleKitty@yandex.com</span>
        </div>
        <div class="caption">понедельник - пятница с 10 до 18 </div>
        <section class="social-networks">

        </section>
    </section>
</footer>