<header>
	<section class="header-item _bg">
		<a class="sign-in" href="#">Вход</a>
		<a class="login" href="#">Регистрация</a>
	</section>
	<section class="header-item">
		<nav class="nav">
			<!--		<div class="nav__list">-->
			<a class="nav__link" href="#">Возможности</a>
			<a class="nav__link" href="#">Тарифы</a>
			<a class="nav__link" href="#">Партнерам</a>
			<a class="nav__link" href="#">Помощь</a>
			<!--		</div>-->
		</nav>
		<a href="index.html" class="logo-box">
<!--			<svg width="114" height="27">-->
<!--				<use xlink:href="/img/sprite.svg#logo_color"></use>-->
<!--			</svg>-->
			<img src="/img/logo_color.svg" alt="logo Webim">
		</a>
	</section>
</header>