<header>
	<!-- <nav class="header__nav">
		<div class="header__nav-list">
			<a class="header__nav-link" href="">Home</a>
			<a class="header__nav-link" href="">About</a>
			<a class="header__nav-link" href="">Company</a>
			<a class="header__nav-link" href="">Work</a>
			<a class="header__nav-link" href="">Clients</a>
			<a class="header__nav-link" href="">Contact</a>
			<a class="header__nav-link" href="">Work</a>
			<a class="header__nav-link" href="">Clients</a>
			<a class="header__nav-link" href="">Contact</a>
		</div>
		<span class="line-hover"></span>
	</nav> -->
</header>