<section class="why-us">
    <div class="why-us__item">
        <div class="img-wrap"><img src="/img/img-1.png" alt="img"></div>
        <p class="why-us__item-text">Получать лучшие рецепты по разным категориям</p>
    </div>
    <div class="why-us__item">
        <div class="img-wrap"><img src="/img/img-2.png" alt="img"></div>
        <p class="why-us__item-text">Готовить без лишних усилий и делать из каждого дня не рутинный</p>
    </div>
    <div class="why-us__item">
        <div class="img-wrap"><img src="/img/img-3.png" alt="img"></div>
        <p class="why-us__item-text">Довольные члены семьи</p>
    </div>
</section>