
@font-face {
	font-family: 'Inter';
	src: local('Inter Semi Bold'), local('Inter-SemiBold'), url('../fonts/Intersemibold.woff2') format('woff2'), url('../fonts/Intersemibold.woff') format('woff'), url('../fonts/Intersemibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap; // сперва загрузка дефолтных шрифтов на слабом интернете
}
@font-face {
	font-family: 'Inter';
	src: local('Inter Medium'), local('Inter-Medium'), url('../fonts/Intermedium.woff2') format('woff2'), url('../fonts/Intermedium.woff') format('woff'), url('../fonts/Intermedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: local('Inter Medium Italic'), local('Inter-MediumItalic'), url('../fonts/Intermediumitalic.woff2') format('woff2'), url('../fonts/Intermediumitalic.woff') format('woff'), url('../fonts/Intermediumitalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: local('Inter Italic'), local('Inter-Italic'), url('../fonts/Interitalic.woff2') format('woff2'), url('../fonts/Interitalic.woff') format('woff'), url('../fonts/Interitalic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: local('Inter Regular'), local('Inter-Regular'), url('../fonts/Interregular.woff2') format('woff2'), url('../fonts/Interregular.woff') format('woff'), url('../fonts/Interregular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: local('Inter Black'), local('Inter-Black'), url('../fonts/Interblack.woff2') format('woff2'), url('../fonts/Interblack.woff') format('woff'), url('../fonts/Interblack.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: local('Inter Semi Bold Italic'), local('Inter-SemiBoldItalic'), url('../fonts/Intersemibolditalic.woff2') format('woff2'), url('../fonts/Intersemibolditalic.woff') format('woff'), url('../fonts/Intersemibolditalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: local('Inter Bold Italic'), local('Inter-BoldItalic'), url('../fonts/Interbolditalic.woff2') format('woff2'), url('Interbolditalic.woff') format('woff'), url('../fonts/Interbolditalic.ttf') format('truetype');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: local('Inter Bold'), local('Inter-Bold'), url('../fonts/Interbold.woff2') format('woff2'), url('../fonts/Interbold.woff') format('woff'), url('../fonts/Interbold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: local('Inter Black Italic'), local('Inter-BlackItalic'), url('../fonts/Interblackitalic.woff2') format('woff2'), url('../fonts/Interblackitalic.woff') format('woff'), url('../fonts/Interblackitalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: local('Inter Extra Bold'), local('Inter-ExtraBold'), url('../fonts/Interextrabold.woff2') format('woff2'), url('../fonts/Interextrabold.woff') format('woff'), url('../fonts/Interextrabold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	src: local('Inter Extra Bold Italic'), local('Inter-ExtraBoldItalic'), url('../fonts/Interextrabolditalic.woff2') format('woff2'), url('../fonts/Interextrabolditalic.woff') format('woff'), url('../fonts/Interextrabolditalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}
