@import '/main/var.styl'

header
  display flex
  justify-content space-between
  align-items center
  text-transform uppercase
  font-width 600
  font-size 1em
  & .header-item
    padding 35px 70px
    display flex
    align-items center
  & .sign-in
    margin-right 30px
    color _main-theme
  & .login
    color _main-theme
  & .nav
    &__link
      color _main-theme
      margin-right 20px
      &:last-child
        margin-right 0
  & .logo-box
    margin-left 30px
    width 114px
    //height 27px
