@import '/main/var.styl'

.header
  &__logo-box
    width 200px
    display flex
    justify-content flex-start
    align-items center
    padding 9px 53px
    background radial-gradient(152.33% 152.33% at 50% 50%,#fff 0,rgba(255,255,255,0) 35%),#f3d4c300


