body
	margin: 0
	padding: 0
	border 0
	font-family "Trebuchet MS"
	outline none
	font-size 16px
	line-height normal
	min-width 320px
	min-height 100vh
	background #fff
	background-size cover
	overflow-x hidden
	position relative
	color #000
	display flex
	flex-direction column
	@media(min-resolution: 70dpi) 
		font-size: 16px
	@media(min-resolution: 90dpi) 
		font-size: 16px
	@media(min-resolution: 140dpi)
		font-size: 16px
	@media(min-resolution: 180dpi) 
		font-size: 16px
	@media screen and (min-width 1020px) 
		font-size: 16px

a
	outline: none
	text-decoration: none
	color _blue
	align-self auto
	transition .3s
	//-webkit-tap-highlight-color: rgba(0,0,0,0)
	-webkit-tap-highlight-color: transparent


button:active,button:focus 
	outline: none

button
	transition: .3s
	&:hover 
		cursor pointer
	
input::placeholder
	color _ltext

textarea::placeholder
	color _ltext

input,textarea 
	border: #666 1px solid
	outline: none
	padding 5px
	border-radius 4px
	&:focus:required:invalid 
		border-color: red
	&:required:valid 
		border-color: green
	
img 
	display: block
	max-width: 100%
	width: auto
	height: auto

p
	padding 0
	line-height 24px
	margin 24px 0

h1
	//font-size: 2.2em
	font-size 35px
	padding: 0
	line-height: normal
	margin 86px 0 40px
	text-align left
	text-transform uppercase
	@media screen and (min-width 960px)
		//font-size 3.8em
		font-size 60px

h2
	//font-size: 2.2em
	font-size 32px
	font-weight bold
	padding 0
	line-height: normal
	margin 70px 0 40px
	text-transform uppercase
	text-align center
	@media screen and (min-width 960px)
		//font-size: 3.7em
		font-size 43px

h3
	font-size: 1.250em
	padding 0
	margin: 0
	line-height: normal

pre
	color: #fff
	font-weight bold
	position relative
	padding 10px
	background-color: #000
	&:before
		position absolute
		content: 'Пример кода'
		bottom: -25px
		left 50%
		margin-left -70px
		font-size: 22px
		font-weight bold
		color: _red

//------- основные классы ------------------

.main
	flex-grow 1
	box-sizing border-box

.wrap
	max-width 1200px
	margin 0 auto
	padding 0 20px
	//@media screen and (min-width 900px)
	//	padding 0








