_text = #242424
_ltext = #828282
_main-theme = #1698d9
_green = #7FB069
_red = #FF5E5B
_disabled = #b3b3b3
_hover = #d91667
_yellow = #e7cc16

//.base-style-card
//	background #ffffff
//	padding 30px
//	border-radius 10px
//	box-sizing border-box
//
//.btn
//	display block
//	border: none
//	padding 0
//	background: #05b2dc
//	border-radius: 4px
//	color: #fff
//	text-align center
//	width 200px
//	padding-top 8px
//	padding-bottom 8px
//	font-weight 500
//	&:hover
//		opacity 0.8
//
//
//.btnBord
//	display block
//	background-color: transparent
//	padding 0
//	border: 1px solid	#05b2dc
//	border-radius: 4px
//	color: #05b2dc
//	text-align center
//	width 200px
//	padding-top 8px
//	padding-bottom 8px
//	box-sizing: border-box
//	font-weight 500
//	&:hover
//		opacity 0.8
//		border 1px solid rgba(5, 178, 220, 0.8)


