_text = #000
_ltext = #808080
_main-theme = #5CC5B1
_red = #FF5E5B
_disabled = #b3b3b3
_hover = #d91667
_bg-gray = #F0F0F0
_placeholder = #A0A0A0
_gradient-green = linear-gradient(90deg, #6ED4FF 34.25%, #8FFFA3 96.88%)
_gradient-blue = linear-gradient(270deg, #67E4FE 0%, #35ABD3 52.4%)
_gradient-dark-blue = linear-gradient(270deg, #3FA3E8 11.18%, #277EBB 63.9%)
_bg-image = url('/img/bg-image.png')




.btn
	display flex
	border-radius 28px 
	box-sizing border-box 
	background _main-theme
	color #fff 
	font-size 14px 
	cursor pointer 
	border none
	padding 20px 15px
	line-height 17px