_text = #74757b
_ltext = #b2b3bc //bcbfce
_main-theme = #393e6b
_green = #0da088
_hover = #2cd3b8
_bg-hightlight = #eff4f4
_gray = #e1e2e9

//.base-style-card
//	background #ffffff
//	padding 30px
//	border-radius 10px
//	box-sizing border-box
//
//.btn
//	display block
//	border: none
//	padding 0
//	background: #05b2dc
//	border-radius: 4px
//	color: #fff
//	text-align center
//	width 200px
//	padding-top 8px
//	padding-bottom 8px
//	font-weight 500
//	&:hover
//		opacity 0.8
//
//
//.btnBord
//	display block
//	background-color: transparent
//	padding 0
//	border: 1px solid	#05b2dc
//	border-radius: 4px
//	color: #05b2dc
//	text-align center
//	width 200px
//	padding-top 8px
//	padding-bottom 8px
//	box-sizing: border-box
//	font-weight 500
//	&:hover
//		opacity 0.8
//		border 1px solid rgba(5, 178, 220, 0.8)


