@import '/main/var.styl'

.element
  padding 70px 0
  &._bg-hightlight
    background _bg-hightlight
  & h1
    margin 0 0 44px
  & h2
    margin 0 0 25px
  & p
    margin 0
  & .color-dark
    color _main-theme
  & .limited-width
    max-width 714px
  & .links-btn
    display flex
    margin 60px 0 0
    @media screen and (max-width 675px)
      flex-direction column
      align-items center
    &__item
      @extend .btn
      margin-right 20px
      &:last-child
        margin-right 0
      @media screen and (max-width 675px)
        margin-right 0
        margin-bottom 20px
        width 90%
        &:last-child
          margin-bottom 0
      @media screen and (max-width 425px)
        width 290px

  & .links-btnBord
    display flex
    margin 60px 0 0
    @media screen and (max-width 675px)
      flex-direction column
      align-items center
    &__item
      @extend .btnBord
      margin-right 20px
      &:last-child
        margin-right 0
      @media screen and (max-width 675px)
        margin-right 0
        margin-bottom 20px
        width 90%
        &:last-child
          margin-bottom 0
      @media screen and (max-width 425px)
        width 290px
  & .wrap-links
    display flex
    margin 60px 0 0
    & a
      margin-right 90px
      &:last-child
        margin-right  0
  & ul
    margin 60px 0 0
    padding-left 18px
    > li
      margin-bottom 40px
      list-style-type none
      position relative
      &:before
        content ''
        width 7px
        height 7px
        border-radius 50%
        background _main-theme
        position absolute
        top 10px
        left -18px
      & a
        font-size 20px
        font-weight 500
      & .caption
        margin-top 20px


  & ol
    margin 60px 0 0
    color _main-theme
    list-style-type none
    counter-reset num
    padding 0
    & li
      margin-bottom 58px
      line-height 1.5em
      display flex
      align-items center
      position relative
      padding 0 0 0 75px
    & svg
      margin-right 15px
      min-width 60px
      height 60px
      position absolute
      left 0
      top -18px
    & span
      &:before
        content "Шаг " counter(num) ". "
        counter-increment num
        font-weight 600
        font-size 20px








