@import '/main/var.styl'

.form
	background #fff 
	border-radius 41px
	box-sizing border-box 
	padding 87px 71px 0px
	display flex 
	width 594px
	flex-direction column
	&__title
		text-align center
		margin-bottom 22px
		font-weight bold
		font-size 52px
		line-height 63px
		letter-spacing 0.472727px
	&__text 
		text-align center
		margin 0px 0 50px 
		color _ltext
		font-size 20px
		line-height 24px
		letter-spacing 0.4px
	&__input 
		display flex 
		flex 1 
		background _bg-gray
		border-radius 28px
		padding 19px 45px
		border none 
		font-size 14px
		line-height 17px
		letter-spacing 0.315151px
		margin-bottom 22px
		&::placeholder
			color _placeholder
	&__btn
		@extend .btn
		justify-content center  
		text-align center
		text-transform uppercase 
		position relative
		letter-spacing 4.2px
		font-wight 500
		margin 10px 0 0px
		background _gradient-green
		&:after 
			content url('/img/arrow.svg')
			position absolute 
			right 15px
			top 15px
