@import '/main/var.styl'


.element
  & .cloud-links
    display flex
    flex-wrap wrap
    margin-top 90px
    &__item
      font-weight 500
      display flex
      position relative
      padding-left 63px
      margin 0 0 45px 0
      width 33%
      padding-right 30px
      box-sizing border-box
      min-width 290px
      & svg
        position absolute
        left 0
        top -13px
      &:hover
        & svg
          left 7px
          transition 0.5s