@import '/main/var.styl'



.enter-page
	display flex
	justify-content space-between
	align-items center
	background _bg-image 
	background-size cover
	border-radius 43px
	
	&__content
		display flex 
		flex-grow 1
		flex-direction column 
		padding 0 58px 0 76px
	&__title
		color #fff 
		font-weight bold
		font-size 52px
		line-height 63px
		letter-spacing 0.472727px
		text-align left 
	&__text
		font-size 24px
		line-height 29px
		letter-spacing 0.48px
		color #fff 
	&__form-box
		border-radius 43px
		background #fff

				




