@import '/main/var.styl'

.social-networks
	display flex 
	flex-direction column 
	background #fff 
	border-radius 41px
	box-sizing border-box 

	&__text
		margin 31px 0
		color _ltext
		font-size 13px
		line-height 16px
		letter-spacing 0.531818px
		text-align center
	&__btn 
		@extend .btn 
		background _gradient-blue
		padding 19px 20px 19px 95px
		position relative 
		display flex 
		align-items center
		margin-bottom 22px
		&:last-child 
			margin-bottom 0
		&:hover
			box-shadow inset 0 0 19px 1px rgba(0, 0, 0, 0.2)
		& .icon 
			position absolute
			&._fb
				left 45px
			&._tw
				left 39px
		&._bg-dark
			background _gradient-dark-blue 
		

