@import '/main/var.styl'

.main-title
  color #fff
  margin 50px 0 25px
  position relative
  z-index 13
  font-size 3.5em

.container
  display flex
  align-items center
  justify-content center
  min-height 100vh






