@import "../main/var.styl"

.why-us
  display flex
  justify-content space-around
  &__item
    display flex
    flex-direction column
    align-items center
    //justify-content space-between
    max-width 340px
    &-text
      text-align center
      margin 40px 0 0
      padding 0 10px
      box-sizing border-box
.img-wrap
  display flex
  width 340px
  height 360px
  justify-content center
  align-items flex-end


